@font-face{
    font-family: "EBGaramond-Regular";
    src: url("../EB_Garamond/EBGaramond-Regular.otf") format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "EBGaramond-Medium";
    src: url("../EB_Garamond/EBGaramond-Medium.otf") format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "EBGaramond-SemiBold";
    src: url("../EB_Garamond/EBGaramond-SemiBold.otf") format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "EBGaramond-Bold";
    src: url("../EB_Garamond/EBGaramond-Bold.otf") format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "EBGaramond-ExtraBold";
    src: url("../EB_Garamond/EBGaramond-ExtraBold.otf") format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "EBGaramond-Italic";
    src: url("../EB_Garamond/EBGaramond-Italic.otf") format(truetype);
    font-weight: normal;
    font-style: italic;
}

@font-face{
    font-family: "EBGaramond-MediumItalic";
    src: url("../EB_Garamond/EBGaramond-MediumItalic.otf") format(truetype);
    font-weight: normal;
    font-style: italic;
}

@font-face{
    font-family: "EBGaramond-SemiBoldItalic";
    src: url("../EB_Garamond/EBGaramond-SemiBoldItalic.otf") format(truetype);
    font-weight: normal;
    font-style: italic;
}

@font-face{
    font-family: "EBGaramond-BoldItalic";
    src: url("../EB_Garamond/EBGaramond-BoldItalic.otf") format(truetype);
    font-weight: normal;
    font-style: italic;
}

@font-face{
    font-family: "EBGaramond-ExtraBoldItalic";
    src: url("../EB_Garamond/EBGaramond-ExtraBoldItalic.otf") format(truetype);
    font-weight: normal;
    font-style: italic;
}


.h2, .reg1 {
    font-family: "EBGaramond-Regular";
}

.h2, .reg2 {
    font-family: "EBGaramond-Medium";
}

.h13, .reg3{
    font-family: "EBGaramond-SemiBold";
}

.h13, .reg4{
    font-family: "EBGaramond-Bold";
}

.h1, .h3, .h5b, .h1bc, .h4, .reg5, .h2r1, .h2r2, .h6{
    font-family: "EBGaramond-ExtraBold";
}

.ita1 {
    font-family: "EBGaramond-Italic";
}

.ita2 {
    font-family: "EBGaramond-MediumItalic";
}

.ita3, .pr1, .pr2, .p, .h5i, .h1ic{
    font-family: "EBGaramond-SemiBoldItalic";
}

.ita4, .h13i {
    font-family: "EBGaramond-BoldItalic";
}

.ita5, .num1, .bb {
    font-family: "EBGaramond-ExtraBoldItalic";
}

@font-face{
    font-family: "Cormorant-Bold";
    src: url("../Cormorant/Cormorant-Bold.ttf") format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Cormorant-Italic";
    src: url("../Cormorant/Cormorant-Italic.ttf") format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Garamond-Bold";
    src: url("../Garamond/Garamond-Bold\ -\ Garamond\ -\ Bold.ttf") format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Garamond-Italic";
    src: url("../Garamond/Garamond-Italic\ -\ Garamond\ -\ Italic.ttf") format(truetype);
    font-weight: normal;
    font-style: normal;
}

.font1{
    font-family: "Garamond-Bold";
}

.date1{
    font-family: "Garamond-Italic";
}

.font3{
    font-family: "Cormorant-Bold";
}

.date3{
    font-family: "Cormorant-Italic";
}




/* @font-face{
    font-family: "EBGaramond-Italic";
    src: url("../EB_Garamond/EBGaramond-Italic.ttf") format(truetype);
    font-weight: normal;
    font-style: italic;
}

@font-face{
    font-family: "EBGaramond";
    src: url("../EB_Garamond/EBGaramond.ttf") format(truetype);
    font-weight: normal;
    font-style: normal;
}

.h1, .h12, .h2 {
    font-family: "EBGaramond";
}

p {
    font-family: "EBGaramond-Italic";
} */